<ul>
  <% @errors.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
</ul>

<%= form_with model: @room_make_form, url: rooms_path, local: true do |f| %>
  <%= f.text_field :title, null: false, placeholder:"部屋名" %>
  <%= f.label :is_private, 'プライベートルーム'  %>
  <%= f.check_box :is_private, {}, '1', '0' %>
  <%= f.text_field :name, null: false, placeholder:"ユーザー名" %>
  <%= f.submit "部屋を作る" %>
<% end %>
