<% content_for :head do %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<% end %>

<h1>
  <%= @room.title %>
</h1>
<p>
  <%= link_to '戻る', root_path %>
</p>

<%= form_with model: @message, url: room_messages_path(@room.hashid), id: 'message_form' do |f| %>
  <span id="current_user_name"><%= @user.name %></span>
  <%= f.text_field :content, id: 'message_text_field' %>
  <button id="message_send_btn">送信</button>
<% end %>

<div id="messages">
  <template id="message_template">
    <p>
      <b class="user-name"></b>
      <span class="message"></span>
    </p>
  </template>

  <% @messages.each do |message| %>
    <p>
      <b class="user-name"><%= message.user.name %></b>
      <span class="message"><%= message.content %></span>
    </p>
  <% end %>
</div>
